name: 'Deploy Terraform to AWS'

on:
  push:
    branches:
    - main
  pull_request:

env:
  AWS_REGION: "eu-west-1"
  TF_VAR_aws_eks_admin_iam_role_arn: ${{ secrets.AWS_EKS_ADMIN_IAM_ROLE_ARN }}
jobs:
  terraform:
    name: '[Terraform] Plan & Apply'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v5
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      working-directory: ./terraform
      run: |
        terraform init \
            -backend-config="bucket=${{ secrets.S3_TERRAFORM_BUCKET }}" \
            -backend-config="key=${{ secrets.S3_TERRAFORM_STATE_KEY }}" \
            -backend-config="region=${{ env.AWS_REGION }}" \

    - name: Terraform Validate
      working-directory: ./terraform
      run: |
        terraform fmt -check -recursive -diff
        terraform validate

    - name: Terraform Plan
      working-directory: ./terraform
      run: terraform plan

    - name: Terraform Apply
      working-directory: ./terraform
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      run: terraform apply -auto-approve
